body{
    margin: 0;
    background-color: rebeccapurple;
    box-sizing: border-box;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    gap: 1rem;
}

hr{
    margin: 0;
    border: 1px solid white;
}

#textheaders > h1, h2{
    display: flex;
    justify-content: center;
    color: white;
}

#broccoli{
    background-image: url("./img/broccoli.jpeg");
    height: 450px;
}